doctype html
html
  head
    script(src='https://docs.getgrist.com/grist-plugin-api.js')
    script(src="js/markdown-it.min.js")
    script(src='js/rapydscript.js')
    script(src='js/jquery.js')
    script(src='js/load-pyj.js' defer)

  body
  
  footer
    script var md = cfg.data.md
    script(type='pyj')!= getcode("py")
